<footer class="w-75 mx-auto">
   <div class="d-flex justify-content-between">
   <h2>Zomato</h2>   
   <div class="d-flex">
    <select name="countries" class="form-select me-3">
        <option>India</option>
    </select>
    <select name="languages" class="form-select">
        <option>English</option>
    </select>
   </div>
</div>
<div class="row mt-4">
    <div class="col">
        <h6>ABOUT ZOMATO</h6>
        <ul class="list-unstyled">
            <li><a href="#">Who We Are</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Work With Us</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Report Fraud</a></li>
            <li><a href="#">Press Kit</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>

    </div>
    <div class="col">
        <h6>ZOMAVERSE</h6>
        <ul class="list-unstyled">
            <li><a href="#">Zomato</a></li>
            <li><a href="#">Blinkit</a></li>
            <li><a href="#">Feeding India</a></li>
            <li><a href="#">Hyperpure</a></li>
            <li><a href="#">Zomaland</a></li>
           
        </ul>
    </div>
    <div class="col">
        <h6>FOR RESTAURANTS</h6>
        <ul class="list-unstyled">
            <li><a href="#">Partner With Us</a></li>
            <li><a href="#">Apps For You</a></li>
           
        </ul>
    </div>
    <div class="col">
        <h6>LEARN MORE</h6>
        <ul class="list-unstyled">
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Sitemap</a></li>
        </ul>
    </div>
    <div class="col">
        <h6>SOCIAL LINKS</h6>
        <div>
            <span class="bi bi-linkedin me-2"></span>
            <span class="bi bi-instagram me-2"></span>
            <span class="bi bi-twitter me-2"></span>
            <span class="bi bi-youtube me-2"></span>
            <span class="bi bi-facebook"></span>
        </div>
        <div class="mt-2">
            <img src="../../../assets/images/apple-store.gif" width="120px" height="40px">
        </div>
        <div class="mt-2">
            <img src="../../../assets/images/google-store.gif" width="120px" height="40px">
        </div>
    </div>
</div>
</footer>