$text-color:white;

header{
 background-image: url("../../../assets/images/zomato-banner.jpg");
 background-repeat: no-repeat;
 background-size: 100% 500px;;
 height:500px;
 width:100%;
}

.nav-link{
    color:$text-color;
    font-size: 20px;;
}

.main-title{
    color:$text-color;
    font-size:80px;
    font-weight:bold;
    text-shadow:5px 5px 5px black;
    font-family:Forte Regular;

}
fieldset{
    border-left:none;
    border-right:none;
    border-bottom:none;
    text-align:center;
    width:100%;
    font-family:Arial;
    font-size:15px;
}
legend{
    padding-left:35px;
    padding-right:15px;
    color:gray;
    font-size:17px;
}

.modal-footer{
    width:55%;    
}
.terms{
    font-size:13px;
    font-family:Arial;
}