$color:white;
.levelOne{
    img{
        width:350px;
        height:250px;
        padding:10px;
    }
}
img:hover{
    transform:scale(1.1);
    transition:1s;
}

section{
.collection-title{
    font-size:35px;
    font-family:Arial;
}
.collections{
   div{
    height:300px;
    width:250px;
    color:$color;
    text-shadow:2px 2px 2px black;
    background-size: cover;
    h5{
        margin-top:240px;
        margin-left:20px;
        
    }
    span{
        margin-left:20px;     
    }
   }
}
}

.top-trending-spot{
    background-image: url("../../../assets/images/top-trending-spots.jpg");
   

}
.best-rooftop{
    background-image: url("../../../assets/images/roof-top.jpg");
}
.live-screening{
    background-image: url("../../../assets/images/live-screening.jpg");
}
.new-places{
    background-image: url("../../../assets/images/roof-top.jpg");
}

article{
    div{
        display:flex;
        justify-content: space-between;
       flex-wrap: wrap;
    a{
        display:flex;
        border:1px solid gray;
        width:240px;
        height:60px;
        margin-bottom: 20px;;
        p{
            color:gray;
        }
    }
}
}