<div class="container-fluid mt-4 w-75 mx-auto">
    <main>
        <div class="levelOne d-flex justify-content-betwen">
            <img src="../../../assets/images/order-online.gif">
            <img src="../../../assets/images/dining.gif">
            <img src="../../../assets/images/nightlife and clubs.gif">
        </div>
    </main>
    <section>
        <div class="collection-title">Collections</div>
        <div class="collection-subTitle mb-3">
            <span class="fs-5 me-3">Explore curated lists of top restaurants, cafes, pubs, and bars in Bengaluru, based on trends</span>
            <span class="text-danger">All collections in Bengaluru<span class="bi bi-caret-right-fill"></span></span>
        </div>
        <div class="collections d-flex justify-content-between mb-4">
            <div class="top-trending-spot ">
                <h5>Top Trending Spots</h5>
                <span class="mt-5">24 Places<span class="bi bi-caret-right-fill"></span></span>
            </div>
            <div class="best-rooftop">
                <h5>Best Rooftop Places</h5>
                <span class="mt-5">44 Places<span class="bi bi-caret-right-fill"></span></span>
            </div>
            <div class="live-screening">
                <h5>Best of live screenings</h5>
                <span class="mt-5">39 Places<span class="bi bi-caret-right-fill"></span></span>
            </div>
            <div class="new-places">
                <h5>Newly Opened Places</h5>
                <span class="mt-5">11 Places<span class="bi bi-caret-right-fill"></span></span>
            </div>
        </div>
    </section>
    <article>
        <div class="fs-3 mt-2 mb-3">Popular localities in and around Bengaluru</div>
        <div>
            <a>
                <div class="me-5 mx-3 p-2 mb-2">
                    <h6>Indiranagar</h6>
                    <p>576 places</p>
                </div>
                <span class="bi bi-chevron-compact-right mt-3 me-1"></span>
            </a>
    
            <a>
                <div class="me-5 mx-3 p-2 mb-2">
                    <h6>Marathalli</h6>
                    <p>1001 places</p>
                </div>
                <span class="bi bi-chevron-compact-right mt-3 me-1"></span>
            </a>
            <a>
                <div class="me-5 mx-3 p-2 mb-2">
                    <h6>Whitefield</h6>
                    <p>1041 places</p>
                </div>
                <span class="bi bi-chevron-compact-right mt-3 me-1"></span>
            </a>
            <a>
                <div class="me-5 mx-3 p-2 mb-2">
                    <h6>Whitefield</h6>
                    <p>1041 places</p>
                </div>
                <span class="bi bi-chevron-compact-right mt-3 me-1"></span>
            </a>
            <a>
                <div class="me-5 mx-3 p-2 mb-2">
                    <h6>Koramangala</h6>
                    <p>307 places</p>
                </div>
                <span class="bi bi-chevron-compact-right mt-3 me-1"></span>
            </a>
            <a>
                <div class="me-5 mx-3 p-2 mb-2">
                    <h6>HSR</h6>
                    <p>950 places</p>
                </div>
                <span class="bi bi-chevron-compact-right mt-3 me-1"></span>
            </a>
            <a>
                <div class="me-5 mx-3 p-2 mb-2">
                    <h6>Jayanagar</h6>
                    <p>615 places</p>
                </div>
                <span class="bi bi-chevron-compact-right mt-3 me-1"></span>
            </a>
            <a>
                <div class="me-5 mx-3 p-2 mb-2">
                    <h6>JP Nagar</h6>
                    <p>722 places</p>
                </div>
                <span class="bi bi-chevron-compact-right mt-3 me-1"></span>
            </a>
            <a>
                <div class="me-5 mx-3 p-2 mb-2">
                    <h6>Sarjapur Road</h6>
                    <p>782 places</p>
                </div>
                <span class="bi bi-chevron-compact-right mt-3 me-1"></span>
            </a>
            <a>
                <div class="me-5 mx-3 p-2 mb-2">
                    <h6>See More<span class="bi bi-chevron-compact-right mt-3 me-1"></span></h6>
                    
                </div>
                
            </a>
    
        </div>
            </article>
            <section class="mt-4">
                <div class="fs-3">Explore options near me</div>
                <div class="accordion" id="faq">  
                    <div class="accordion-item bg-white">
                              <div class="accordion-header">
                                  <button data-bs-target="#q1" data-bs-toggle="collapse"  class="accordion-button">Popular cuisines near me</button>
                              </div>
                              <div class="accordion-collapse collapse" id="q1" data-bs-parent="#faq">
                                  <div class="accordion-body">
                                      <p>
                                      
                                      Bakery food near meBeverages food near meBiryani food near meBurger food near meChinese food near meDesserts food near meIce Cream food near meJuices food near meKebab food near meMughlai food near meNorth Indian food near mePizza food near meRolls food near meSandwich food near meSeafood food near meShake food near meSichuan food near meSouth Indian food near meStreet food near meTea food near me
                                      </p>
                  
                                     </div>
                              </div>
                  </div>
                    <div class="accordion-item mt-3">
                              <div class="accordion-header">
                                  <button data-bs-target="#q2" data-bs-toggle="collapse"  class="accordion-button">Popular restaurant types near me</button>
                              </div>
                              <div class="accordion-collapse collapse" id="q2" data-bs-parent="#faq">
                                  <div class="accordion-body">
                                      <p>
                                      
                                      Bakeries near meBars near meBeverage Shops near meBhojanalya near meCafés near meCasual Dining near meClubs near meCocktail Bars near meConfectioneries near meDessert Parlors near meDhabas near meFine Dining near meFood Courts near meFood Trucks near meIrani Cafes near meKiosks near meLounges near meMicrobreweries near mePaan Shop near mePubs near meQuick Bites near meSweet Shops near me
                                      </p>
                  
                                     </div>
                              </div>
                  </div>


                   
  <div class="accordion-item mb-3 mt-3">
    <div class="accordion-header">
        <button data-bs-target="#q3" data-bs-toggle="collapse"  class="accordion-button">Top Restaurant Chains</button>
    </div>
    <div class="accordion-collapse collapse" id="q3" data-bs-parent="#faq">
        <div class="accordion-body">
            <p>
            
            Biryani BluesBurger KingDomino'sKFCKrispy KremeMcDonald'sPizza HutWOW! Momo
            </p>

           </div>
    </div>
</div>


<div class="accordion-item mb-3 ">
    <div class="accordion-header bg-black">
        <button data-bs-target="#q4" data-bs-toggle="collapse"  class="accordion-button">Cities We Deliver To</button>
    </div>
    <div class="accordion-collapse collapse" id="q4" data-bs-parent="#faq">
        <div class="accordion-body">
            <p>
            
            Biryani BluesBurger KingDomino'sKFCKrispy KremeMcDonald'sPizza HutWOW! Momo
            </p>

           </div>
    </div>
</div>
                  </div>
                    

            </section>
</div>
